
body{
	background:#f2f2f2;
}


.brEditorContainer{
	width:780pt;
	height:1050pt;
	padding:0pt;
	margin:10pt auto;
}
.brEditorModesContainer{
	margin-left:574pt;
}
.brEditorModeButton{
	width:100pt;
	height:20pt;
	border:1pt solid #ccc;
	margin:-2.5pt -2pt;
	padding:0;
	background:#fff;
	outline:none;
	cursor:pointer;
}
.brEditorCommandButton{
	width: 70pt;
	height:20pt;
	border:1pt solid #ccc;
	margin:-2.5pt -2pt;
	padding:0;
	background:#fff;
	outline:none;
	cursor:pointer;
}
.brEditorContent{
	width:740pt;
	height:1050pt;
	padding:10pt;
	margin:2pt auto 10pt auto;
	display:block;
	border: 1pt solid #ccc;
	outline:none;
	font-size:16pt;
	background:#fff;
}
.brEditorAddFilesContainer{
	width:200pt;
	height:320pt;
	background:#C7ECFF;
	display:block;
	margin-right:0pt;
	position:fixed;
	right:8pt;
	top:38pt;
	text-align:center;
	padding:4pt 0pt;
	border:1pt solid #ccc;
}

.brEditorMediaContainer{
	width:190pt;
	background:#fff;
	max-height:300pt;
	min-height:244pt;
	margin:6pt auto;
	border:1pt solid #ccc;
	overflow-y:scroll;
	overflow-x:hidden;
	
}
.brEditorCommandContainer{
	width:160pt;
	height:30pt;
	position: fixed;
	top: 10pt;
	right:16pt;
	padding: 0pt 0pt;
	display: block;
}	

.brEditorDropZone{
	width:190pt;
	height:30pt;
	border:2pt dashed #ccc;
	border-radius:10pt;
	text-align:center;
	padding-top:10pt;
	margin:auto;

}
.brEditorAddLinkContainer{
	width:200pt;
	height:60pt;
	border: 1pt solid #ccc;
	background: #C7ECFF;
	position:fixed;
	top: 380pt;
	right:8pt;
	
}
.brEditorAddLinkTextInput{
	width:160pt;
	height:20pt;
	border:1pt solid #ccc;
	margin-left:2pt;
	display:block;
	margin-top:2pt;
	float:left;
}
.brEditorAddLinkButton{
	width:30pt;
	height:20pt;
	border:1pt solid #ccc;
	background:#fff;
	margin-left:5pt;
	margin-top:2pt;
}
.brEditorAddLinkList{
	width:190pt;
	margin:auto;
	margin-top:4pt;
}
.brEditorRecentlyAdded{
	width: 190pt;
	border: 1pt solid #000;
}
.brEditorMedia{
	width: 180pt;
	border: 1pt solid #000;
}
.brEditorMediaTitle{
	float: none;
	width: 100%;
	height: 10pt;
}
.brEditorMediaThumbnail{
	margin: 2pt 1pt;
	height: 45pt;
	width: 45pt;
	float: left;
	display: block;
	list-style: none;

}

.brEditorMediaThumbnail img{
	height: 45pt;
	width: 45pt;
	display: inline-block;
}
