<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/breezy.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
	<link rel="stylesheet" type="text/css" href="/css/blog.css"/>

</head>
<body data-ng-app="breezyApp" ng-controller="BreezyController">
	<div class="brContainer" infinite-scroll="">
	<div class="brBlogHeaderContainer">
		<div class="brBlogHeader">
			<span class="brBlogTitle">{{Title}}</span>
			<form ng-submit="submitSearch(this)" ng-if="searchEnabled" action="">
				<input type="TEXT" placeholder="Search" class="brBlogSearchInput"  ng-model="searchInput"/>
			</form>
		</div>
	</div>
	<div class="brBlogContainer" > 
		
		<div ng-repeat="post in postlist">
			<div ng-bind-html="post.Content.Markup"></div>
			<div><span ng-if="DisplayPostCreator" ng-click="postsByCreator(this)">{{post.Creator}} - </span><span ng-click="postsByDate(this)">{{formatDate(post.Created)}}</span></div>
		</div>	
		<div ng-click="loadMorePosts()">Load More</div>
	</div>
	</div>
</body>
</html>
