<div class="brDashboardMenuContainer">
	<div class="brDashboardNavigationMenuTitle brDashboardMenuButton" ng-click="gotoPage('home')" >Breezy</div>
	<ul>
		<li class="brDashboardMenuButton" ng-click="openBlog()">View Blog</li>
		<li class="brDashboardMenuButton" ng-click="gotoPage('new post')">New Post</li>
		<li class="brDashboardMenuButton" ng-click="gotoPage('posts')">Posts</li>
		<li class="brDashboardMenuButton" ng-click="gotoPage('media')">Media</li>
		<li class="brDashboardMenuButton" ng-click="gotoPage('settings')">Settings</li>
	</ul>
</div>
	
