<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize.js"></script>
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
</head>
<body data-ng-app="breezyApp" ng-controller="BreezySettingsController">
	<div class="brDashboardMenuContainer" ng-controller="BreezyNavigationController">
		<div>Breezy</div>
		<ul>
			<li ng-click="openBlog()">View Blog</li>
			<li ng-click="gotoPage('new post')">New Post</li>
			<li ng-click="gotoPage('posts')">Posts</li>
			<li ng-click="gotoPage('media')">Media</li>
			<li ng-click="gotoPage('settings')">Settings</li>
		</ul>
	</div>

	<div class="brDashboardRecentActivityContainer"> <h2>Settings</h2>
		<div class="brTitleBreakLine"></div>
		<div class="brDashboardBackupContainer">
			<div>Blog Info</div>
			<form ng-submit="updateBlogInfo()" action="">
			<input type="TEXT"ng-model="blogname" /><label>Blog Name</label>
			<input type="CHECKBOX" ng-model="searchEnabled"><label>Enable Search</label>
			<select ng-model="PostGroupSize">
				<option>5</option>
				<option>10</option>
				<option>15</option>
				<option>20</option>
			</select>
			<input type="SUBMIT" value="Update" />
			</form>
			<div class="brBreakLineThin"></div>
			<div>Backup</div>
			<form ng-submit="updateScheduledBackup()" action="">

			<input type="CHECKBOX" ng-model="enabledBackups"/><label>Enable Backups</label>
			<select ng-disabled="!enabledBackups" ng-model="backupSelection">
				<option>Daily</option>
				<option>Weekly</option>
				<option>Monthly</option>
			</select>
			<input type="SUBMIT" value="Update"/> 
			</form>
			<input type="BUTTON"  value="Backup Now"/>
			<input type="BUTTON" value="Download Logs"/>
			<input type="BUTTON" value="Download Posts"/>
			<input type="BUTTON" value="Download All Data"/>
		</div>	
		<div class="brBreakLineThin"></div>
		<div class="brNewUserContainer">
			<div>Add User</div>
			<form ng-submit="submitNewUser()" action="">
				<input type="email" placeholder="Username" ng-model="newUser.username"/>
				<input type="password" placeholder="Password" ng-model="newUser.password"/>
				<input type="text" placeholder="Name" ng-model="newUser.name"/>
				<input type="submit" value="Add User"/>
			</form>
			<div class="brPopUp" ng-if="submitedNewUser">
				<div ng-if="userExists">User already exists.</div>
				<div ng-if="!userExists">New User created.</div>
			</div>
		</div>
	</div>
</body>
</html>
