<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
</head>
<body data-ng-app="breezyApp" ng-controller="BreezyPostsController">
	<div class="brDashboardRecentActivityContainer"> <h3>Posts</h3>
		<div ng-repeat="post in postlist"><span>{{post.Title}}</span>
			<div>{{post.Content.markup}}</div>
		</div>	
	</div>
</body>
</html>
