<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route.js"></script>
	
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor.css"/>
</head>
<body data-ng-app="Breezy" >
<div contenteditable class="brEditorContent">
	d
</div>
<div class="brEditorAddFilesContainer">
	<div>Media</div>
	
	DropFiles
</div>
</body>
</html>
