<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
</head>
<body data-ng-app="breezyApp" class="brLogin">
<div data-ng-controller="BreezyLoginController">
	<div class="brLoginContainer">
		<div class="brH1">Breezy</div>
		<form>
			<input class="brLoginInput" ng-model="loginCredentials.username" placeholder="Username" type="text" name="username"/>
			<input class="brLoginInput" ng-model="loginCredentials.password" placeholder="Password" type="password"/>
			<input class="brLoginSubmit" type="Submit" ng-click="submitLoginInfo()"/>
		</form>
	</div>
<div>
	
</body>
</html>

	