<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route.js"></script>
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
</head>
<body data-ng-app="Breezy">
	<div class="brDashboardMenuContainer">
		<div>Breezy</div>
		<ul>
			<li>View Blog</li>
			<li>New Post</li>
			<li>Settings</li>
		</ul>
	</div>
	<div class="brDashboardRecentActivityContainer"> <h3>Settings</h3>
		<div class="brDashboardBackupContainer">
			<div>Blog Info</div>
			<input type="TEXT"/><label>Blog Name</label>

			<input type="CHECKBOX" ng-model="enabledBackups"/><label>Enable Backups</label>
			<select>
				<option>Daily</option>
				<option>Weekly</option>
				<option>Monthly</option>
			</select>
			<input type="BUTTON"  value="Backup Now"/>
			<input type="BUTTON" value="Download Logs"/>
			<input type="BUTTON" value="Download Posts"/>
			<input type="BUTTON" value="Download All Data"/>
		</div>	
	</div>
</body>
</html>
