<html>
<head>
	<title>Breezy</title>
	<script type="text/javascript" src="/lib/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize.js"></script>	
	<script type="text/javascript" src="/js/breezy.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/breezy.css"/>
</head>
<body data-ng-app="breezyApp" class="brLogin">
<div data-ng-controller="BreezySetupController">
	<div class="brLoginContainer">
		<div class="brH1">Breezy Setup</div>
		<form>
			<input class="brLoginInput" ng-model="setupConfig.username" placeholder="Email" type="email" name="username"/>
			<input class="brLoginInput" ng-model="setupConfig.password" placeholder="Password" type="password"/>
			<input class="brLoginInput" ng-model="setupConfig.name" placeholder="Name" type="text"/>
			<input class="brLoginInput" ng-model="setupConfig.blogname" placeholder="Blog Name" type="text"/>
			<input class="brLoginSubmit" type="Submit" ng-click="submitSetupConfig()"/>
		</form>
	</div>
<div>
	
</body>
</html>


