html{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
input{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	
}

.brLogContainer{
	background:#eee;
	padding:10pt 10pt;
	width:700pt;
	display:inline-block;
}
.brBreakLineThin{
	width:800pt;
	height:1pt;
	background:#ccc;
	margin: 6pt -10pt;
}

body{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
label{
	padding-left:6pt;
	padding-right:4pt;
}
/* Dashboard */

.brDashboardMenuContainer{
	width:200pt;
	height:100%;
	background:#C7ECFF;
	margin-right:30pt;
	position:fixed;
	top:0pt;
	border-right: 1pt solid #ccc;
}
.brDashboardRecentActivityContainer{
	margin-left:240pt;
	padding-top:2pt;
	margin-top:0pt;
}








/* Login */
.brErrorContainer{
	width: 230pt;
	height: 100pt;
	border:2pt solid #cc0000;
	border-radius:3pt;
	background: #fff;
	margin: auto;
	color:#c00;
}
.brErrorTitle{
	text-align: center;
	display:block;
	padding: 5pt 0pt;
	font-size: 18pt;
}
.brErrorText{
	text-align: center;
	display:block;
	padding: 2pt 0pt;
	font-size: 12pt;

}
.brLogin{
	background:#C7ECFF;
}
.brH1{
	font-size:50pt;
	text-align:center;
	padding-bottom:30pt;
}
.brzyLoginContainer{
	width:300pt;
	height:200pt;
	margin:auto;
	display:block;
}

.brLoginInput{
	width:230pt;
	height:30pt;
	display:block;
	margin:auto;
	border: 2pt solid #ccc;
	border-radius:3pt;
	outline:none;
	margin:6pt auto;
	font-size:16pt;
	text-indent:4pt;
}


.brLoginSubmit{
	width:100pt;
	height:30pt;
	display:block;
	margin:10pt auto;
	background:#fff;
	border:2pt solid #ccc;
	border-radius:3pt;
	font-size:16pt;
}
